body {
    background-image: url("../img/tree.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
    color: #fff;
}

img {
    max-width: 100%;
    width: 400px;
    display: block;
    border-radius: 100%;
}

div {
    background-color: #E695B0;
    background-image: url("img/purple.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heart {
    color: #D1015F;
    font-size: 4rem;
    margin-top: 0;
}

.big-heart {
    font-size: 5.2rem;
}

h2 {
    font-size: 2rem;
    margin-top: 50px;
}

h1 {
    font-family: 'Ballet', cursive;
    font-size: 3.5rem;
    margin-bottom: 0;
    color: #ffdfe6;
}

.subtitle {
    font-size: 1.8rem;
}

.underline {
    text-decoration: underline;
}

.text {
    font-size: 1.6rem;
    line-height: 1.6;
}

.med-size {
    font-size: 1.9rem;
}

.lge-size {
    font-size: 2.3rem;
}

.signature {
    font-family: 'Ballet', cursive;
    font-size: 4rem;
}

hr {
    width: 300px
}

.heart-white {
    color: #fff;
}